@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/BebasNeueBold.eot');
  src: url('../../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/BebasNeueBold.woff') format('woff'),
  url('../../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.content-container {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}

.content-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #373D4F;
  padding: 0;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    border-bottom: 3px solid #F4A93D;
    border-radius: 1.5px;
    width: 77px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    border-bottom: 1px solid #7B8196;
    width: 100%;
  }
}

.content-number {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
  color: #D2D6E1;
  padding: 0;
  margin-bottom: 26px;

  &-active {
    font-size: 40px;
    color: #858CA3;
  }
}

.content-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #373D4F;
  box-sizing: border-box;
  border-radius: 20px;
  color: #373D4F;
  padding: 12px;
  text-decoration: none;
}

.content-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #7B8196;
  position: relative;
  display: block;
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 49px;
    border-bottom: 2px solid #7B8196;
    border-radius: 1.5px;
  }

  &:hover {
    color: #F4A93D;

    &:after {
      border-color: #F4A93D;
    }
  }
}

.content-name {
  position: absolute;
  bottom: -133px;
  right: 211px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 240px;
  line-height: 240px;
  text-transform: uppercase;
  opacity: 0.2;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke: 0.75px #373D4F;
}

.header {
  padding: 48px 0 20px;

  &__heading {
    margin-bottom: 55px;
    padding: 0;
  }

  &__logo {
    text-decoration: none;

    &--icon {
      margin-right: 17px;
    }

    &--text {
      margin: 0;
    }

    &--name {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 120%;
      color: #373D4F;
      display: block;
      margin-bottom: 4px;
    }

    &--info {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 100%;
      color: #7B8196;
      display: block;
    }
  }

  &__menu {
    justify-content: space-between;
    width: 57.8%;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -28px;
      left: -7px;
      right: -7px;
      border-bottom: 1px solid #D2D6E1;
    }

    &--link {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #373D4F;
      padding: 0;
      position: relative;

      &::before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        border-bottom: 1px solid transparent;
      }

      &:hover::before {
        font-weight: bold;
      }

      &:hover {
        text-shadow: 0 0 .65px #333, 0 0 .65px #333;
        color: #373D4F;

        &:after {
          content: "";
          position: absolute;
          border-bottom: 3px solid #F4A93D;
          bottom: -29px;
          left: -14px;
          right: -14px;
          z-index: 99;
          border-radius: 1.5px;
        }
      }
    }
  }

  &__search {
    border: 1px solid #D2D6E1;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 7px 17px 7px 16px;

    &--input {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #D2D6E1;
      border: none;
      background: transparent;
      padding: 0;

      &:hover,
      &:visited,
      &:focus,
      &:active,
      &:focus-within,
      &:focus-visible {
        outline: none;
        border-color: transparent;
        box-shadow: none;
        background: transparent;
      }
    }

    &--button {
      background: transparent;
      border: none;
      padding: 0;

    }
  }

  &__login {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #373D4F;
    padding: 0;
    margin-right: 25px;

    &:hover,
    &:visited,
    &:focus,
    &:active,
    &:focus-within,
    &:focus-visible {
      outline: none;
      border-color: transparent;
      box-shadow: none;
      background: transparent;
    }

    &--text {
      margin-right: 7px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        border-bottom: 2px #7B8196 solid;
        background: #7B8196;
        border-radius: 1.5px;
        width: 100%;
      }
    }
  }

  &__content {
    padding: 0;
  }

  &__title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #373D4F;
    margin-bottom: 40px;
    width: 95%;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 77px;
      border-bottom: 3px solid #F4A93D;
      border-radius: 1.5px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #373D4F;
    opacity: 0.7;
  }

  &__image {
    display: block;
    margin-bottom: 28px;
  }

  &__wrap {
    position: relative;
  }

  &__section {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 21%;
    z-index: 1;

    &--item {
      margin: 0 auto;
      box-sizing: border-box;
      text-decoration: none;
      padding: 20px;
      display: block;
      height: 126px;
      max-width: 135px;
      position: relative;
      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: #FFFFFF;
        height: 100%;
        width: 100%;
        border: 1px solid #373D4F;
      }

      &:hover {
        z-index: 999;
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }

    &--name {
      font-family: "Bebas Neue";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: #373D4F;
      display: block;
    }

    &--link {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 11px;
      color: #F4A93D;
      opacity: 0.7;
      position: relative;
    }
  }

  &__social {
    width: 13%;
    margin-right: 46px;
  }

}

.header__search--input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #D2D6E1;
}

.header .header__search .header__search--button {
  &:hover,
  &:visited,
  &:focus,
  &:active,
  &:focus-within,
  &:focus-visible {
    outline: none;
    border-color: transparent;
    box-shadow: none;
    background: transparent;
  }
}

.header__section--item:hover .header__section--link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 48px;
  border-radius: 1.5px;
  border-bottom: 3px solid #F4A93D;

}

.header__section--item:hover:after {
  top: -2px;
  transform: scale(1.1, 1.1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.diseases {
  position: relative;
  padding-bottom: 174px;


  &__title {
    margin-bottom: 120px;
  }

  &__content {
    padding: 0;
  }

  &__wrap {
    margin-top: 30px;
  }

  &__block {
    width: 63%;
    margin: 0 auto;
  }

  &__subtitle {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #373D4F;
    margin-bottom: 35px;

  }
}

.activity {
  &__title {
    margin-bottom: 107px;
  }

  &__slider {
    width: 90%;
    margin: 0 auto;
    padding-top: 32px;
  }

  &__slide {
    width: 24%;
  }

  &__image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  &__info {
    padding: 15px 15px 34px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  &__data {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 18px;
    color: #7B8196;
    opacity: 0.5;
    margin-bottom: 6px;
    display: block;
  }

  &__subtitle {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #373D4F;
    min-height: 28px;
    margin-bottom: 6px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #7B8196;
    opacity: 0.7;
    min-height: 90px;
    margin-bottom: 6px;
  }

  &__prev {
    left: -70px;
  }

  &__next {
    right: -70px;
    transform: rotate(180deg);
  }

}

.activity .activity__slider .activity__slide.active {
  //background: #FFFFFF;
  //border: 1px solid #373D4F;
  //box-sizing: border-box;
  //width: 29%;
  //top: -32px;
  //z-index: 9999;
  ////transform: scale(1.1, 1.1);
  //box-shadow: 0 0 25px rgba(44, 10, 0, 0.14);
  //
  //&__info {
  //  padding: 15px 44px 34px;
  //}
}

.risk {
  padding-bottom: 211px;
  position: relative;

  &__name {
    bottom: -73px;
  }

  &__list {
    padding: 0 0 0 34px;
  }

  &__item {
    margin-bottom: 26px;

  }

  &__link {
    &:before {
      content: "";
      position: absolute;
      left: -23px;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #F4A93D;
      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover:before {
      width: 13px;
      height: 13px;
      left: -27px;
      top: 60%;
      transform: translateY(-60%);
      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  &__content {
    padding: 0;
  }
}

.risk {
  &___title {
    margin-bottom: 104px;
  }

}

.diagnosis {
  position: relative;
  padding-bottom: 230px;

  &__name {
    bottom: -70px;
  }

  &__title {
    margin-bottom: 110px;
  }

  &__block {
    margin-right: 5%;
  }
}

.therapy {
  position: relative;
  padding-bottom: 183px;

  &__name {
    bottom: -115px;
  }

  &__title {
    margin-bottom: 108px;
  }
}

.partners {
  padding-bottom: 120px;
  position: relative;

  &__name {
    bottom: -152px;
  }

  &__title {
    margin-bottom: 120px;
  }

  &__block {
    margin-bottom: 67px;
  }

  &__wrap {
    margin-bottom: 26px;
    width: 75%;
  }

  &__subtitle {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #373D4F;
  }

  &__inner {
    width: 47%;
  }

  &__gallery {
    flex-wrap: wrap;
    border: none;
  }

  &__item {
    width: 48%;
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    outline: none;
  }
}
.partners__gallery .partners__item  {
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active,
  &:visited{
    border: none;
    background-color: transparent;
    outline: none;
  }
}
.partners__gallery .partners__item .partners__tabs {
  position: relative;
  padding: 0;
  width: 190px;
  height: 80px;
  outline: none;
  border: none;
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active,
  &:visited{
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 0;
  }
}
.partners__gallery .partners__item .active{
  border: none;
}

.partners__gallery .partners__item .partners__tabs:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 287px;
  height: 131px;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.partners__gallery .partners__item .active:after {
  content: "";
  border: 1px solid #373D4F;
  box-sizing: border-box;
  background: white;
  border-radius: 0;
  filter: drop-shadow(0px 0px 25px rgba(44, 10, 0, 0.14));
}
.partners__gallery .partners__item .partners__tabs:hover:after {
  content: "";
  border: 1px solid #373D4F;
  box-sizing: border-box;
  background: white;
  border-radius: 0;
  filter: drop-shadow(0px 0px 25px rgba(44, 10, 0, 0.14));
}

.footer {
  margin-bottom: 116px;

  &__title {
    margin-bottom: 140px;
  }

  &__social {
    &--link {
      display: block;
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__logo {
    text-decoration: none;
    margin-bottom: 32px;
  }

  &__menu {
    width: 26%;
  }

  &__item {
    padding: 0;
    margin-bottom: 15px;
  }

  &__line {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: -60px;
      top: 0;
      height: 100%;
      width: 1px;
      border-right: 1px solid #D2D6E1;

    }
  }

  &__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #373D4F;
    padding: 0;

    &:hover {
      color: #F4A93D;
    }
  }

  &__info {
    width: 25%;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #373D4F;

    &--item:not(:last-child) {
      margin-bottom: 20px;
    }

    &--link {
      color: #373D4F;
      text-decoration: none;
    }

    &--link:hover {
      color: #F4A93D;
    }
  }

  &__icon {
    margin-right: 15px;
  }

}