@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/BebasNeueBold.eot');
  src: url('../../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('../../fonts/BebasNeueBold.woff') format('woff'), url('../../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.content-container {
  max-width: 1180px;
  width: 90%;
  margin: 0 auto;
}
.content-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #373D4F;
  padding: 0;
  position: relative;
}
.content-title:after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  border-bottom: 3px solid #F4A93D;
  border-radius: 1.5px;
  width: 77px;
}
.content-title:before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  border-bottom: 1px solid #7B8196;
  width: 100%;
}
.content-number {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
  color: #D2D6E1;
  padding: 0;
  margin-bottom: 26px;
}
.content-number-active {
  font-size: 40px;
  color: #858CA3;
}
.content-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #373D4F;
  box-sizing: border-box;
  border-radius: 20px;
  color: #373D4F;
  padding: 12px;
  text-decoration: none;
}
.header {
  padding: 48px 0 20px;
}
.header__heading {
  margin-bottom: 55px;
  padding: 0;
}
.header__logo {
  text-decoration: none;
}
.header__logo--icon {
  margin-right: 17px;
}
.header__logo--text {
  margin: 0;
}
.header__logo--name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 120%;
  color: #373D4F;
  display: block;
  margin-bottom: 4px;
}
.header__logo--info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 100%;
  color: #7B8196;
  display: block;
}
.header__menu {
  justify-content: space-between;
  width: 57.8%;
}
.header__menu--link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #373D4F;
  padding: 0;
}
.header__menu--link:hover {
  font-weight: bold;
  color: #373D4F;
}
.header__search {
  border: 1px solid #D2D6E1;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px 17px 7px 16px;
}
.header__search--input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #D2D6E1;
  border: none;
  background: transparent;
  padding: 0;
}
.header__search--input:hover,
.header__search--input:visited,
.header__search--input:focus,
.header__search--input:active,
.header__search--input:focus-within,
.header__search--input:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}
.header__search--button {
  background: transparent;
  border: none;
  padding: 0;
}
.header__login {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #373D4F;
  padding: 0;
  margin-right: 25px;
}
.header__login:hover,
.header__login:visited,
.header__login:focus,
.header__login:active,
.header__login:focus-within,
.header__login:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}
.header__login--text {
  margin-right: 7px;
  position: relative;
}
.header__login--text:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 2px #7B8196 solid;
  background: #7B8196;
  border-radius: 1.5px;
  width: 100%;
}
.header__content {
  padding: 0;
}
.header__title {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #373D4F;
  margin-bottom: 40px;
}
.header__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #373D4F;
  opacity: 0.7;
}
.header__image {
  display: block;
  margin-bottom: 28px;
}
.header__wrap {
  position: relative;
}
.header__section {
  position: absolute;
  top: 30px;
  left: 13%;
}
.header__section--item {
  background: #FFFFFF;
  border: 1px solid #373D4F;
  box-sizing: border-box;
  text-decoration: none;
  padding: 20px;
  display: block;
  height: 126px;
  width: 135px;
}
.header__section--name {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373D4F;
  display: block;
}
.header__section--link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
  color: #F4A93D;
  opacity: 0.7;
  position: relative;
}
.header .header__search .header__search--button:hover,
.header .header__search .header__search--button:visited,
.header .header__search .header__search--button:focus,
.header .header__search .header__search--button:active,
.header .header__search .header__search--button:focus-within,
.header .header__search .header__search--button:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}
.header__section--item:hover .header__section--link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  border-radius: 1.5px;
  border-bottom: 3px solid #F4A93D;
}
.diseases {
  margin-bottom: 174px;
}
.diseases__title {
  margin-bottom: 120px;
}
.diseases__content {
  padding: 0;
}
.activity--title {
  margin-bottom: 107px;
}
