.header.header__crayfish {
  padding-bottom: 10px;
}
.crayfish {
  padding: 0 0 100px;
  margin-bottom: 88px;
  position: relative;
}
.crayfish:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #7B8196;
  width: 100%;
}
.crayfish__title {
  margin-bottom: 36px;
  display: block;
  text-decoration: none;
}
.crayfish__title--link:hover {
  color: #F4A93D;
}
.crayfish__title:after,
.crayfish__title:before {
  display: none;
}
.crayfish__subtitle {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373D4F;
  margin-bottom: 20px;
}
.crayfish__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #373D4F;
  text-decoration: none;
  position: relative;
}
.crayfish__link:hover {
  color: #F4A93D;
}
.crayfish__link:hover:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #F4A93D;
  bottom: -10px;
  left: 0;
  width: 44px;
  z-index: 99;
  border-radius: 1.5px;
}
.crayfish__link--active {
  color: #F4A93D;
}
.crayfish__link--active:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #F4A93D;
  bottom: -10px;
  left: 0;
  width: 44px;
  z-index: 99;
  border-radius: 1.5px;
}
.crayfish__list {
  padding: 16px 0 0;
  margin: 0;
}
.crayfish__item {
  position: relative;
  margin-bottom: 26px;
}
.crayfish__item:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -7px;
  border-bottom: 1px solid #D2D6E1;
  opacity: 0.5;
}
.crayfish__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #7B8196;
  opacity: 0.9;
  margin-bottom: 20px;
}
.crayfish__navigation {
  width: 17%;
  position: relative;
}
.crayfish__navigation:after {
  content: "";
  position: absolute;
  right: -20%;
  top: 0;
  border-right: 1px solid #7B8196;
  min-height: 509px;
  height: 100%;
}
.crayfish__content {
  width: 76%;
}
.crayfish__image {
  width: 61%;
  margin: 0 0 40px 40px;
}
.crayfish__advertising {
  position: absolute;
  background: url(../../img/disease/banner.png) no-repeat;
  background-size: cover;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  width: 200px;
  padding: 17px;
  box-sizing: border-box;
  top: calc(100% + 30px);
}
.crayfish__advertising--inner {
  display: none;
  background-size: cover;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  padding: 17px;
  box-sizing: border-box;
}
.crayfish__advertising--name {
  font-size: 35px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.crayfish__advertising--text {
  font-size: 115.5px;
  line-height: 115px;
  margin: 0;
}
.crayfish__block {
  list-style: disc;
  padding: 0;
  list-style-position: inside;
}
.crayfish__wrap {
  position: relative;
}
.crayfish__dropdown {
  display: none;
}
.crayfish__dropdown--button {
  border: 1px solid #373D4F;
  box-sizing: border-box;
  color: #373D4F;
  background: transparent;
  border-radius: 0;
  width: 50%;
  padding: 6px;
  text-decoration: none;
  display: block;
}
.crayfish__dropdown--menu {
  width: 95%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 250px;
}
.crayfish__dropdown--menu .crayfish__link {
  width: 100%;
  white-space: pre-wrap;
  margin-bottom: 26px;
  padding: 0 5px;
  position: relative;
}
.crayfish__dropdown--menu .crayfish__link:hover {
  background: transparent;
}
.crayfish__dropdown--menu .crayfish__link:not(:last-child):before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -9px;
  border-bottom: 1px solid #D2D6E1;
  opacity: 0.5;
}
.crayfish .crayfish__navigation .crayfish__dropdown--button:hover,
.crayfish .crayfish__navigation .crayfish__dropdown--button:visited,
.crayfish .crayfish__navigation .crayfish__dropdown--button:active,
.crayfish .crayfish__navigation .crayfish__dropdown--button:focus,
.crayfish .crayfish__navigation .crayfish__dropdown--button:focus-within,
.crayfish .crayfish__navigation .crayfish__dropdown--button:focus-visible {
  outline: none;
  background: transparent;
  color: #373D4F;
  box-shadow: none;
}
.basement__title {
  margin-bottom: 40px;
}
.basement__title:after,
.basement__title:before {
  display: none;
}
.basement .basement__wrap {
  width: 80%;
}
.basement .footer__info {
  width: 32%;
}
.basement .footer__social--link {
  margin-bottom: 0;
}
.basement .footer__social--link:not(:last-child) {
  margin-right: 8px;
}
.useful .useful__navigation:after {
  min-height: 330px;
}
.cancer__wrap {
  min-height: 1300px;
}
@media screen and (max-width: 1200px) {
  .crayfish__navigation {
    width: 19%;
  }
  .crayfish__content {
    width: 74%;
  }
}
@media screen and (max-width: 990px) {
  .crayfish__navigation {
    width: 24%;
  }
  .crayfish__content {
    width: 68%;
  }
  .basement .footer__info {
    width: 47%;
  }
  .crayfish__image {
    margin: 0 0 20px 20px;
  }
}
@media screen and (max-width: 768px) {
  .crayfish {
    padding: 0;
  }
  .crayfish:after {
    display: none;
  }
  .crayfish__navigation {
    min-height: auto;
  }
  .crayfish .crayfish__wrap {
    flex-direction: column;
  }
  .crayfish__navigation {
    margin-bottom: 47px;
    width: 100%;
  }
  .crayfish__navigation:after {
    display: none;
  }
  .crayfish__content {
    width: 100%;
  }
  .crayfish__image {
    width: 100%;
    margin: 0 0 40px 0;
  }
  .crayfish__advertising {
    display: none;
  }
  .crayfish__list--inner {
    display: none;
  }
  .crayfish__dropdown {
    display: block;
  }
  .crayfish__advertising--inner {
    width: 64%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: url("../../img/disease/banner-mobile.png") no-repeat;
    background-size: cover;
  }
  .basement .footer__content {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .basement .basement__wrap {
    width: 100%;
  }
  .basement .footer__info {
    width: 60%;
  }
  .basement {
    position: relative;
    margin-top: 120px;
  }
  .basement .basement__title {
    position: absolute;
    top: -70px;
    left: 5%;
  }
  .basement .basement__info {
    position: static;
  }
  .cancer__wrap {
    min-height: auto;
  }
}
@media screen and (max-width: 568px) {
  .crayfish__advertising--inner {
    width: 100%;
  }
  .crayfish__dropdown--button {
    width: 91%;
  }
  .crayfish__link {
    color: #F4A93D;
  }
}
@media screen and (max-width: 460px) {
  .crayfish__advertising--text {
    font-size: 83.5px;
  }
  .crayfish__advertising--name {
    font-size: 28px;
  }
  .basement .footer__info {
    width: 100%;
  }
}
.tidings__title {
  margin-bottom: 66px;
}
.tidings__item {
  text-decoration: none;
  position: relative;
}
.tidings__item:after {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  height: 100%;
  z-index: -1;
  width: calc(100% - 140px);
  transition: background 0.4s ease;
}
.tidings__item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 180px);
  border-bottom: 1px solid #7B8196;
}
.tidings__info {
  width: 81%;
  padding: 18px 0 26px;
}
.tidings__image {
  width: 180px;
  height: 130px;
  display: block;
}
.tidings__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tidings .activity__data {
  margin-bottom: 20px;
}
.tidings .tidings__title:after,
.tidings .tidings__title:before {
  display: none;
}
.tidings .tidings__data--hidden {
  opacity: 0;
  transition: opacity 0.4s ease;
  margin-bottom: 0;
}
.tidings__item:hover .tidings__data--hidden {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.tidings__item:hover .tidings__data {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.tidings__item:hover:after {
  background: #F4F6FA;
  transition: background 0.4s ease;
}
.tidings .activity__subtitle {
  margin-bottom: 0;
  min-height: auto;
}
.tidings .activity__text {
  min-height: auto;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .tidings__info {
    width: 75%;
  }
}
@media screen and (max-width: 990px) {
  .tidings__info {
    width: 68%;
  }
}
@media screen and (max-width: 768px) {
  .tidings .tidings__item {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .tidings__info {
    width: 100%;
  }
  .tidings__item:before {
    display: none;
  }
  .tidings__item:hover .tidings__data--hidden {
    visibility: hidden;
    opacity: 0;
  }
  .tidings__item:hover .tidings__data {
    visibility: visible;
    opacity: 0.5;
  }
  .tidings__image {
    width: 50%;
    height: auto;
  }
  .tidings__item:after {
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .tidings__image {
    width: 100%;
  }
  .tidings__item:after {
    width: 0;
  }
}
#datepicker .today {
  background: #F4A93D;
  border-radius: 50%;
  width: 20px;
  height: 25px;
}
#datepicker .day:hover {
  border-radius: 50%;
}
#datepicker .active {
  border-radius: 50%;
  background: #F4A93D;
}
.events__data {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #373D4F;
  display: block;
  transition: all 0.4s linear;
  position: relative;
}
.events__data:before {
  content: "";
  position: absolute;
  left: -37px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #F4A93D;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.events__block {
  width: 82%;
  position: relative;
}
.events__block:before {
  content: "";
  position: absolute;
  top: -27px;
  right: 0;
  height: calc(100% + 54px);
  z-index: -1;
  width: calc(100% + 66px);
  transition: background 0.4s ease;
}
.events__item {
  position: relative;
  padding: 27px 0;
  align-items: center;
  text-decoration: none;
}
.events__item:not(:last-child):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom: 1px solid #D2D6E1;
}
.events__info {
  width: 72%;
}
.events .crayfish__navigation:after {
  display: none;
}
.events .activity__subtitle {
  min-height: auto;
}
.events .activity__text {
  margin-bottom: 0;
  min-height: auto;
  color: #373D4F;
}
.events .events__author {
  color: #7B8196;
}
.events .events__item:hover .events__block:before {
  background: #F4F6FA;
  transition: background 0.4s ease;
}
.events .events__item:hover .events__data {
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #F4A93D;
  transition: all 0.4s linear;
}
.events .events__item:hover .activity__subtitle,
.events .events__item:hover .activity__text {
  color: #F4A93D;
  transition: color 0.4s linear;
}
.events .events__item:hover .events__data:before {
  width: 13px;
  height: 13px;
  left: -39px;
  top: 60%;
  transform: translateY(-60%);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media screen and (max-width: 990px) {
  .events__data {
    width: 24%;
  }
}
@media screen and (max-width: 768px) {
  .events__datepicker .datepicker-inline {
    margin: 0 auto;
  }
  .events__data {
    width: 22%;
  }
}
@media screen and (max-width: 576px) {
  .events .events__block {
    flex-direction: column;
  }
  .events__item {
    align-items: flex-start;
  }
  .events__data {
    width: 100%;
    margin-bottom: 15px;
  }
  .events__data:before {
    display: none;
  }
  .events__info {
    width: 95%;
  }
  .events .events__item:hover .events__block:before {
    width: 0;
    display: none;
  }
  .events .events__item:hover .events__data {
    color: #373D4F;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
  .events .events__item:hover .activity__subtitle,
  .events .events__item:hover .activity__text {
    color: #373D4F;
  }
}
.contacts__title {
  margin-bottom: 45px;
}
.contacts__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #7B8196;
  opacity: 0.7;
  margin-bottom: 94px;
  width: 59%;
}
.contacts__item {
  width: 48%;
  margin-bottom: 37px;
}
.contacts__line {
  position: relative;
}
.contacts__line:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 87%;
  border-bottom: 1px solid #8E8E8E;
  opacity: 0.5;
}
.contacts__map {
  width: 44%;
  display: block;
  height: 360px;
}
.contacts__wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts__block {
  width: 44%;
}
.contacts__icon {
  margin-right: 19px;
}
.contacts__link {
  text-decoration: none;
  display: block;
  margin-bottom: 0;
}
.contacts__link:last-child {
  display: inline;
}
.contacts__link:hover {
  color: #F4A93D;
}
.contacts .crayfish__text {
  margin-bottom: 0;
}
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
@media screen and (max-width: 1200px) {
  .contacts__block {
    width: 54%;
  }
}
@media screen and (max-width: 990px) {
  .contacts .contacts__content {
    flex-direction: column;
  }
  .contacts__block {
    width: 100%;
  }
  .contacts__item {
    width: 37%;
  }
  .contacts__map {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contacts .contacts__wrap {
    flex-direction: column;
    margin-bottom: 12px;
  }
  .contacts__item {
    margin-bottom: 43px;
    width: 50%;
  }
  .contacts__item:not(:last-child) {
    position: relative;
  }
  .contacts__item:not(:last-child):before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 87%;
    border-bottom: 1px solid #8E8E8E;
    opacity: 0.5;
  }
  .contacts__text {
    margin-bottom: 29px;
    width: 100%;
  }
  .contacts__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .contacts__item {
    width: 62%;
  }
}
@media screen and (max-width: 460px) {
  .contacts__item {
    width: 90%;
  }
}
.institutions__number {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #858CA3;
}
.institutions__inner {
  width: 30%;
}
.institutions__image {
  width: 100%;
  max-width: 241px;
  padding: 18px;
  position: relative;
  border: 1px solid #373D4F;
  box-sizing: border-box;
  background: white;
  border-radius: 0;
  filter: drop-shadow(0px 0px 25px rgba(44, 10, 0, 0.14));
  margin-bottom: 44px;
}
.institutions__block {
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
  position: relative;
}
.institutions__block:not(:last-child):before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #8E8E8E;
  opacity: 0.5;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.institutions__info {
  justify-content: space-between;
  align-items: flex-start;
  width: 92%;
}
.institutions .institutions__picture {
  width: 167px;
  height: 74px;
  margin: 0 auto;
  display: block;
}
.institutions .institutions__wrap {
  width: 64%;
}
.institutions .institutions__item {
  margin-bottom: 0;
}
.institutions .crayfish__text {
  margin-bottom: 0;
}
@media screen and (max-width: 990px) {
  .institutions .institutions__info {
    flex-direction: column-reverse;
  }
  .institutions .institutions__block {
    align-items: flex-start;
  }
  .institutions__inner {
    width: 45%;
    margin-bottom: 30px;
  }
  .institutions .institutions__wrap {
    width: 100%;
  }
  .institutions .contacts__item {
    width: 47%;
  }
}
@media screen and (max-width: 768px) {
  .institutions .contacts__wrap {
    flex-direction: column;
  }
  .institutions .institutions__item {
    margin-bottom: 43px;
  }
}
@media screen and (max-width: 576px) {
  .institutions__inner {
    width: 64%;
  }
  .institutions .contacts__item {
    width: 66%;
  }
  .institutions__info {
    width: 86%;
  }
}
@media screen and (max-width: 460px) {
  .institutions__info {
    width: 83%;
  }
  .institutions__inner {
    width: 95%;
  }
  .institutions .contacts__item {
    width: 95%;
  }
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/BebasNeueBold.eot');
  src: url('../../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), url('../../fonts/BebasNeueBold.woff') format('woff'), url('../../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.content-container {
  max-width: 1180px;
  width: 95%;
  margin: 0 auto;
}
.content-row {
  display: flex;
  flex-direction: row;
}
.content-column {
  display: flex;
  flex-direction: column;
}
.content-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #373D4F;
  padding: 0;
  position: relative;
}
.content-title:after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  border-bottom: 3px solid #F4A93D;
  border-radius: 1.5px;
  width: 77px;
}
.content-title:before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0;
  border-bottom: 1px solid #7B8196;
  width: 100%;
}
.content-number {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  text-transform: uppercase;
  color: #D2D6E1;
  padding: 0;
  margin-bottom: 26px;
}
.content-number-active {
  font-size: 40px;
  color: #858CA3;
}
.content-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #373D4F;
  box-sizing: border-box;
  border-radius: 20px;
  color: #373D4F;
  padding: 12px;
  text-decoration: none;
  width: 78%;
  display: block;
  margin: 0 auto;
}
.content-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #7B8196;
  position: relative;
  display: block;
  text-decoration: none;
}
.content-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 49px;
  border-bottom: 2px solid #7B8196;
  border-radius: 1.5px;
}
.content-link:hover {
  color: #F4A93D;
}
.content-link:hover:after {
  border-color: #F4A93D;
}
.content-name {
  position: absolute;
  bottom: -133px;
  right: 15%;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 240px;
  line-height: 240px;
  text-transform: uppercase;
  opacity: 0.2;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke: 0.75px #373D4F;
}
.header {
  padding: 48px 0 20px;
}
.header__heading {
  margin-bottom: 55px;
  padding: 0;
  position: relative;
}
.header__logo {
  text-decoration: none;
}
.header__logo--icon {
  margin-right: 17px;
}
.header__logo--text {
  margin: 0;
}
.header__logo--name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 120%;
  color: #373D4F;
  display: block;
  margin-bottom: 4px;
}
.header__logo--info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 100%;
  color: #7B8196;
  display: block;
}
.header__menu {
  justify-content: space-between;
  width: 41.8%;
  position: relative;
}
.header__menu:after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: -7px;
  right: -7px;
  border-bottom: 1px solid #D2D6E1;
}
.header__menu--link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #373D4F;
  padding: 0;
  position: relative;
}
.header__menu--link::before {
  content: attr(data-title);
  position: absolute;
  left: 0;
  border-bottom: 1px solid transparent;
}
.header__menu--link:hover::before {
  font-weight: bold;
}
.header__menu--link:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  color: #373D4F;
}
.header__menu--link:hover:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #F4A93D;
  bottom: -29px;
  left: -14px;
  right: -14px;
  z-index: 99;
  border-radius: 1.5px;
}
.header__menu--active {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  color: #373D4F;
}
.header__menu--active::before {
  content: attr(data-title);
  position: absolute;
  left: 0;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
.header__menu--active:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #F4A93D;
  bottom: -29px;
  left: -14px;
  right: -14px;
  z-index: 99;
  border-radius: 1.5px;
}
.header__search {
  border: 1px solid #D2D6E1;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px 17px 7px 16px;
}
.header__search--input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #D2D6E1;
  border: none;
  background: transparent;
  padding: 0;
}
.header__search--input:hover,
.header__search--input:visited,
.header__search--input:focus,
.header__search--input:active,
.header__search--input:focus-within,
.header__search--input:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}
.header__search--button {
  background: transparent;
  border: none;
  padding: 0;
}
.header__login {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #373D4F;
  padding: 0;
  margin-right: 25px;
}
.header__login:hover,
.header__login:visited,
.header__login:focus,
.header__login:active,
.header__login:focus-within,
.header__login:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}
.header__login--text {
  margin-right: 7px;
  position: relative;
}
.header__login--text:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 2px #7B8196 solid;
  background: #7B8196;
  border-radius: 1.5px;
  width: 100%;
}
.header__content {
  padding: 0;
}
.header__title {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #373D4F;
  margin-bottom: 40px;
  width: 95%;
  position: relative;
}
.header__title:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 77px;
  border-bottom: 3px solid #F4A93D;
  border-radius: 1.5px;
}
.header__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #373D4F;
  opacity: 0.7;
}
.header__image {
  display: block;
  width: 100%;
  margin-bottom: 28px;
}
.header__image--mob {
  display: none;
}
.header__wrap {
  position: relative;
  width: 54.2%;
}
.header__section {
  position: absolute;
  top: 30px;
  left: -8%;
  width: 21%;
  z-index: 1;
}
.header__section--item {
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  padding: 20px;
  height: 126px;
  max-width: 135px;
  position: relative;
  transition: 0.3s linear;
}
.header__section--item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  border: 1px solid #373D4F;
  transition: 0.3s linear;
}
.header__section--item:hover {
  z-index: 999;
  transition: 0.3s linear;
}
.header__section--name {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373D4F;
  display: block;
}
.header__section--link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
  color: #7B8196;
  opacity: 0.7;
  position: relative;
}
.header__social {
  margin-right: 46px;
}
.header__social--link:not(:last-child) {
  display: block;
  margin-right: 15px;
}
.header__menu-mobile {
  display: none;
}
.header__search--input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #D2D6E1;
}
.header .header__search .header__search--button:hover,
.header .header__search .header__search--button:visited,
.header .header__search .header__search--button:focus,
.header .header__search .header__search--button:active,
.header .header__search .header__search--button:focus-within,
.header .header__search .header__search--button:focus-visible {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}
.header__section--item:hover .header__section--link {
  color: #F4A93D;
}
.header__section--item:hover .header__section--link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 48px;
  border-radius: 1.5px;
  border-bottom: 3px solid #F4A93D;
}
.header__section--item:hover {
  transform: scale(1.2, 1.1);
}
.header__section--item:hover:after {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 0.3s linear;
}
.diseases {
  position: relative;
  padding-bottom: 174px;
}
.diseases__title {
  margin-bottom: 120px;
}
.diseases__content {
  padding: 0;
}
.diseases__wrap {
  margin-top: 30px;
}
.diseases__block {
  width: 63%;
  margin: 0 auto;
}
.diseases__subtitle {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373D4F;
  margin-bottom: 35px;
}
.diseases__image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  max-height: 433px;
}
.activity {
  margin-bottom: 111px;
}
.activity__wrap {
  position: relative;
}
.activity__all {
  align-self: flex-end;
  margin-right: 7%;
}
.activity__title {
  margin-bottom: 107px;
}
.activity__slider {
  height: 490px;
  width: 90.1%;
  margin: 0 auto;
  padding: 50px 21px 0;
  box-sizing: border-box;
}
.activity__slide {
  margin: 0 auto;
  max-height: 432px;
}
.activity__slide:hover {
  z-index: 99;
}
.activity__item {
  text-decoration: none;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  border: 1px solid transparent;
  transition: 0.2s linear;
}
.activity__item:after {
  transition: 0.2s linear;
}
.activity__picture {
  position: relative;
  width: 100%;
  height: 138px;
}
.activity__image {
  height: 100%;
  width: 100%;
}
.activity__info {
  padding: 15px 15px 34px;
  box-sizing: border-box;
  margin: 0 auto;
}
.activity__data {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 18px;
  color: #7B8196;
  opacity: 0.5;
  margin-bottom: 12px;
  display: block;
}
.activity__subtitle {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373D4F;
  min-height: 28px;
  margin-bottom: 9px;
}
.activity__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #7B8196;
  opacity: 0.9;
  min-height: 90px;
  margin-bottom: 7px;
}
.activity__prev {
  left: 0;
  top: 65%;
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url("../../img/home/arrow.svg") no-repeat;
}
.activity__next {
  right: 0;
  top: 65%;
  transform: rotate(180deg);
  cursor: pointer;
  width: 37px;
  height: 37px;
  background: url("../../img/home/arrow.svg") no-repeat;
}
.activity .activity__slider .activity__item:hover {
  transform: scale(1.18);
  transition: 0.2s linear;
}
.activity .activity__slider .activity__item:hover:after {
  content: "";
  background: #FFFFFF;
  border: 1px solid #373D4F;
  box-sizing: border-box;
  bottom: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s linear;
  box-shadow: 0 0 25px rgba(44, 10, 0, 0.14);
}
.activity .activity__slider .activity__item:hover .content-button {
  color: #F4A93D;
  border-color: #F4A93D;
}
.news {
  padding-bottom: 122px;
  position: relative;
}
.news__name {
  bottom: -130px;
}
.news__slider {
  height: 490px;
  width: 90.1%;
  margin: 0 auto;
  padding: 50px 21px 0;
  box-sizing: border-box;
}
.news__slide {
  margin: 0 auto;
  max-height: 432px;
}
.news__slide:hover {
  z-index: 99;
}
.news__item {
  text-decoration: none;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  border: 1px solid transparent;
  transition: 0.2s linear;
}
.news__item:after {
  transition: 0.2s linear;
}
.news__picture {
  position: relative;
  width: 100%;
  height: 138px;
}
.news__image {
  height: 100%;
  width: 100%;
}
.news__prev {
  left: 0;
  top: 65%;
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url("../../img/home/arrow.svg") no-repeat;
}
.news__next {
  right: 0;
  top: 65%;
  transform: rotate(180deg);
  cursor: pointer;
  width: 37px;
  height: 37px;
  background: url("../../img/home/arrow.svg") no-repeat;
}
.news .news__slider .news__item:hover {
  transform: scale(1.18);
  transition: 0.2s linear;
}
.news .news__slider .news__item:hover:after {
  content: "";
  background: #FFFFFF;
  border: 1px solid #373D4F;
  box-sizing: border-box;
  bottom: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s linear;
  box-shadow: 0 0 25px rgba(44, 10, 0, 0.14);
}
.news .news__slider .news__item:hover .content-button {
  color: #F4A93D;
  border-color: #F4A93D;
}
.risk {
  padding-bottom: 211px;
  position: relative;
}
.risk__name {
  bottom: -73px;
}
.risk__list {
  padding: 0 0 0 34px;
}
.risk__item {
  margin-bottom: 26px;
}
.risk__link:before {
  content: "";
  position: absolute;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #F4A93D;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.risk__link:hover:before {
  width: 13px;
  height: 13px;
  left: -27px;
  top: 60%;
  transform: translateY(-60%);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.risk__content {
  padding: 0;
}
.risk___title {
  margin-bottom: 104px;
}
.diagnosis {
  position: relative;
  padding-bottom: 230px;
}
.diagnosis__name {
  bottom: -70px;
}
.diagnosis__title {
  margin-bottom: 110px;
}
.diagnosis__block {
  margin-right: 5%;
}
.therapy {
  position: relative;
  padding-bottom: 183px;
}
.therapy__name {
  bottom: -115px;
}
.therapy__title {
  margin-bottom: 108px;
}
.partners {
  padding-bottom: 120px;
  position: relative;
}
.partners__name {
  bottom: -152px;
}
.partners__title {
  margin-bottom: 120px;
}
.partners__wrap {
  margin-bottom: 26px;
  width: 75%;
}
.partners__subtitle {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #373D4F;
}
.partners__inner {
  width: 47%;
}
.partners__gallery {
  flex-wrap: wrap;
  border: none;
}
.partners__item {
  width: 48%;
  margin-bottom: 30px;
}
.partners__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  outline: none;
}
.partners__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #7B8196;
}
.partners__slider {
  display: none;
}
.partners__wrapper {
  border: none;
  flex-wrap: nowrap;
}
.partners__description {
  display: none;
}
.partners__gallery .partners__item:hover,
.partners__gallery .partners__item:focus,
.partners__gallery .partners__item:focus-visible,
.partners__gallery .partners__item:focus-within,
.partners__gallery .partners__item:active,
.partners__gallery .partners__item:visited {
  border: none;
  background-color: transparent;
  outline: none;
}
.partners__slider .partners__tabs {
  position: relative;
  padding: 0;
  width: 190px;
  margin: 0 auto;
  height: 80px;
  outline: none;
  border: none;
}
.partners__slider .partners__tabs:hover,
.partners__slider .partners__tabs:focus,
.partners__slider .partners__tabs:focus-visible,
.partners__slider .partners__tabs:focus-within,
.partners__slider .partners__tabs:active,
.partners__slider .partners__tabs:visited {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
}
.partners__gallery .partners__item .partners__tabs {
  position: relative;
  padding: 0;
  width: 190px;
  height: 80px;
  outline: none;
  border: none;
}
.partners__gallery .partners__item .partners__tabs:hover,
.partners__gallery .partners__item .partners__tabs:focus,
.partners__gallery .partners__item .partners__tabs:focus-visible,
.partners__gallery .partners__item .partners__tabs:focus-within,
.partners__gallery .partners__item .partners__tabs:active,
.partners__gallery .partners__item .partners__tabs:visited {
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 0;
}
.partners__slider.active {
  border: none;
}
.partners__gallery .partners__item .active {
  border: none;
}
.partners__slider .partners__tabs:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 287px;
  height: 131px;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.partners__gallery .partners__item .partners__tabs:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 287px;
  height: 131px;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.partners__slider .active:after {
  content: "";
  border: 1px solid #373D4F;
  box-sizing: border-box;
  background: white;
  border-radius: 0;
  filter: drop-shadow(0px 0px 25px rgba(44, 10, 0, 0.14));
}
.partners__slide.swiper-slide-active .partners__tabs:after {
  content: "";
  border: 1px solid #373D4F;
  box-sizing: border-box;
  background: white;
  border-radius: 0;
  filter: drop-shadow(0px 0px 25px rgba(44, 10, 0, 0.14));
}
.partners__gallery .partners__item .active:after {
  content: "";
  border: 1px solid #373D4F;
  box-sizing: border-box;
  background: white;
  border-radius: 0;
  filter: drop-shadow(0px 0px 25px rgba(44, 10, 0, 0.14));
}
.footer {
  margin-bottom: 116px;
}
.footer__title {
  margin-bottom: 140px;
}
.footer__social--link {
  display: block;
  text-decoration: none;
}
.footer__social--link:not(:last-child) {
  margin-bottom: 16px;
}
.footer__logo {
  text-decoration: none;
  margin-bottom: 32px;
}
.footer__menu {
  width: 23%;
}
.footer__item {
  padding: 0;
  margin-bottom: 15px;
}
.footer__line {
  position: relative;
}
.footer__line:after {
  content: "";
  position: absolute;
  right: -60px;
  top: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid #D2D6E1;
}
.footer__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #373D4F;
  padding: 0;
}
.footer__link:hover {
  color: #F4A93D;
}
.footer__info {
  width: 29%;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #373D4F;
}
.footer__info--item:not(:last-child) {
  margin-bottom: 20px;
}
.footer__info--link {
  color: #373D4F;
  text-decoration: none;
}
.footer__info--link:hover {
  color: #F4A93D;
}
.footer__icon {
  margin-right: 15px;
}
.footer__wrap {
  justify-content: space-between;
  width: 87%;
}
@media screen and (min-width: 1800px) {
  .content-name {
    right: 30%;
  }
}
@media screen and (max-width: 1200px) {
  .header__section--item:hover {
    transform: scale(1);
  }
  .news .news__slider .news__item:hover,
  .activity .activity__slider .activity__item:hover {
    transform: scale(1);
  }
  .content-name {
    right: 5%;
    font-size: 200px;
  }
  .header__info {
    width: 37%;
  }
  .header__section {
    top: 0;
    width: 30%;
  }
  .header__section--item {
    height: 115px;
    margin: 0;
  }
  .header__menu {
    width: 46.8%;
  }
  .diseases__slider {
    width: 83%;
  }
  .partners__gallery .partners__item .partners__tabs:after {
    width: 230px;
    height: 115px;
  }
  .footer__wrap {
    width: 93%;
  }
  .footer__menu {
    width: 27%;
  }
  .footer__info {
    width: 37%;
  }
  .footer__line:after {
    right: -17px;
  }
}
@media screen and (max-width: 990px) {
  .content-name {
    font-size: 170px;
  }
  .header__search {
    display: none;
  }
  .header {
    padding: 48px 0 66px;
  }
  .partners__slider {
    display: block;
    width: 100%;
    border: none;
    height: 190px;
    padding-top: 55px;
  }
  .partners__info {
    display: none;
  }
  .partners__info--inner {
    display: flex;
  }
  .partners__description {
    display: block;
    width: 100%;
  }
  .partners__slide {
    width: 60%;
  }
  .partners__gallery {
    display: none;
  }
  .header__section {
    display: flex;
    flex-direction: row;
    width: 92%;
    top: -63px;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .header__wrap {
    width: 61.2%;
  }
  .header__info {
    width: 100%;
    margin-bottom: 130px;
  }
  .header__content {
    flex-direction: column;
  }
  .header__image {
    margin: 0 auto 36px;
  }
  .header__social {
    margin: 0 auto;
  }
  .header__menu {
    display: none;
  }
  .header__login {
    margin-right: 0;
  }
  .header__logo--icon {
    margin-right: 10px;
  }
  .header__heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -26px;
    width: 100%;
    border-bottom: 1px solid #D2D6E1;
  }
  .header__block {
    position: relative;
  }
  .header__menu-mobile {
    display: flex;
    width: 47px;
  }
  .header__menu-mobile--visible {
    flex-direction: column;
  }
  .header__menu-mobile--visible .header__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 69%;
    z-index: 99;
  }
  .header__menu-mobile--visible .header__block:after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: -5%;
    right: -5%;
    border-bottom: 1px solid #D2D6E1;
  }
  .header__menu-mobile--visible .header__wrapper:after {
    content: "";
    position: absolute;
    top: -48px;
    left: -5%;
    width: auto;
    right: -27px;
    z-index: -1;
    opacity: 0.95;
    min-height: 680px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0 4px 36px rgba(0, 0, 0, 0.25);
  }
  .header__menu-mobile--visible .header__block {
    margin-bottom: 55px;
  }
  .header__menu-mobile--visible .header__search--inner {
    display: flex;
  }
  .header__menu-mobile--visible .header__menu--inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header__menu-mobile--visible .header__menu--inner:after {
    display: none;
  }
  .header__menu--inner .header__menu--link {
    font-size: 18px;
    margin-bottom: 50px;
    display: inline-block;
  }
  .header__menu--inner .header__menu--link:after {
    left: 0;
    bottom: -12px;
  }
  .header__menu-mobile {
    display: flex;
  }
  .diseases__content {
    flex-direction: column-reverse;
  }
  .diseases__slider {
    width: 100%;
  }
  .diseases__wrap {
    margin: 0 0 30px;
  }
  .diseases__block {
    margin: 0;
  }
  .risk__content {
    flex-direction: column;
  }
  .diagnosis__content {
    flex-direction: column-reverse;
  }
  .partners__content {
    flex-direction: column;
  }
  .partners__gallery {
    width: 100%;
  }
  .partners__info {
    width: 100%;
  }
  .footer__wrap {
    flex-flow: wrap;
    width: 85%;
    justify-content: space-around;
  }
  .footer__info {
    width: 51%;
  }
  .footer__menu {
    width: 34%;
    margin-bottom: 30px;
  }
  .footer__line:after {
    display: none;
  }
  .activity {
    margin-bottom: 100px;
  }
  .news {
    padding-bottom: 95px;
    position: relative;
  }
  .header__section--item:first-child:after {
    border-right: none;
  }
  .header__section--item:last-child:after {
    border-left: none;
  }
}
@media screen and (max-width: 768px) {
  .content-name {
    display: none;
  }
  .partners__slide {
    width: 65%;
  }
  .risk__image,
  .diagnosis__image,
  .therapy__image {
    width: 100%;
  }
  .diagnosis,
  .risk,
  .therapy,
  .diseases {
    padding-bottom: 100px;
  }
  .header__title {
    width: 100%;
  }
  .header__wrap {
    width: 100%;
  }
  .activity__slider {
    width: 100%;
  }
  .activity__next,
  .activity__prev,
  .news__next,
  .news__prev {
    display: none;
  }
  .news__slider {
    width: 100%;
  }
  .footer__wrap {
    width: 93%;
  }
  .footer__info {
    width: 66%;
  }
  .risk__content {
    flex-direction: column;
  }
  .activity__all {
    align-self: flex-start;
    margin-right: 0;
  }
  .diseases__image {
    max-height: 396px;
  }
  .footer__menu {
    width: 42%;
  }
}
@media screen and (max-width: 576px) {
  .partners__slider .partners__tabs:after {
    width: 254px;
  }
  .header__image {
    display: none;
  }
  .header__section--item {
    width: 32%;
  }
  .header__section--item:hover:after {
    top: 0;
    box-shadow: none;
  }
  .header__image--mob {
    display: block;
    width: 100%;
    margin: 0 auto 36px;
  }
  .header__section {
    width: 100%;
  }
  .activity__title {
    margin-bottom: 50px;
  }
  .diagnosis__title {
    margin-bottom: 50px;
  }
  .therapy__title {
    margin-bottom: 46px;
  }
  .diseases__title {
    margin-bottom: 54px;
  }
  .partners__title {
    margin-bottom: 60px;
  }
  .content-number {
    text-align: center;
  }
  .footer__content {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .footer__title {
    margin-bottom: 77px;
  }
  .footer__menu {
    display: none !important;
  }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer__social--link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
  .footer__info {
    width: 75%;
    margin: 0 auto;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 91%;
    margin: 0 auto 100px;
  }
  .footer__partners:before {
    content: "";
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    border-bottom: 1px solid #D2D6E1;
    bottom: -45px;
  }
  .footer__wrap {
    width: 100%;
    flex-direction: column;
    margin-bottom: 42px;
  }
  .activity__slide,
  .news__slide {
    width: 75%;
  }
  .partners {
    padding-bottom: 100px;
  }
  .content-exile,
  .partners__link {
    color: #F4A93D;
  }
  .content-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 49px;
    border-bottom: 2px solid #F4A93D;
    border-radius: 1.5px;
  }
  .diseases__image {
    max-height: 295px;
  }
}
@media screen and (max-width: 460px) {
  .partners__slide {
    width: 72%;
  }
  .partners__slider .partners__tabs:after {
    width: 200px;
  }
  .header__menu-mobile--visible .header__wrapper {
    width: 100%;
  }
  .header__menu-mobile--visible .header__wrapper:after {
    right: -3%;
  }
  .footer__partners {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__info {
    width: 100%;
  }
  .header__section--link {
    font-size: 10px;
  }
  .diseases__image {
    max-height: 162px;
  }
}
@media screen and (max-width: 375px) {
  .header__section--item {
    padding: 10px;
    height: 100px;
    width: 31%;
  }
}
